<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249746516393-51qmerj01fi183rp4a09s72ccg5aabfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249746516393-51qmerj01fi183rp4a09s72ccg5aabfd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>249746516393-d5kfmihlp5tmgi0msjq575k7vb17e1ma.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqCfErf7iY0-uAAK3NTd4u7PvcHUTXAYs</string>
	<key>GCM_SENDER_ID</key>
	<string>249746516393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.controlatusgastos</string>
	<key>PROJECT_ID</key>
	<string>tus-gastos</string>
	<key>STORAGE_BUCKET</key>
	<string>tus-gastos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249746516393:ios:42c9cde6c7378616b6bcb8</string>
	<key>DATABASE_URL</key>
	<string>https://tus-gastos.firebaseio.com</string>
</dict>
</plist>